
 
 

/* .search{
    border: 2px solid #000;
    width: 260px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    font-size: 18px;

}
.search input{
    
    border: none;
    outline: none;
}

.search i {
   font-size: 24px;
   color: red;
   position: absolute;
   right: 4px;
   top: 12px;
   display: none;
}

.toltip{
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

.toltip i{
    position: absolute;
    display: block;
    font-size: 40px;
    color: rgb(255, 0, 0);
    top: -25px;
    left: 130px;
}
.tol-wraper{
    position: absolute;
    top:  120%;
    display: none;
} */


/* elementor page bulder */


/* elementor page bulder */